{{define "view"}}{{with .Image}}<!DOCTYPE html>

<html>
<head>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:url" content="http://i.bittwiddlers.org/b/{{.Base62ID}}">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="i.bittwiddlers.org"/>
    <meta property="og:title" content="{{.Title}}"/>
    <meta property="og:description" content=""/>
{{if (eq .Kind "youtube")}}
    <meta property="og:image" content="{{.ThumbURL}}">
{{else if (eq .Kind "imgur-gifv")}}
    <meta property="og:image" content="{{.ThumbURL}}">
{{else}}
    <meta property="og:image" content="http://i.bittwiddlers.org{{.ThumbURL}}">
{{end}}
    <title>{{.Title}}</title>

<style type="text/css">
html {
  width: 100%;
  height: 100%;
  display: table;
}
body {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: {{$.BGColor}};
  color: silver;
}
#container {
  display: inline-block;
}
{{if $.IsAdmin}}
#admin {
    text-align: left;
    position: fixed;
    top: 1em;
    left: 1em;
}
#admin label {
    display: inline-block;
    width: 6em;
    text-align: left;
}
#admin input[type=text] {
    width: 40em;
}
{{end}}
</style>
</head>
<body onresize="resize()">
{{if $.IsAdmin}}
    <div id="admin">
        <form action="/admin/update/{{.Base62ID}}" method="POST">
            <label for="title">Title:</label><input type="text" id="title" name="title" value="{{.Title}}" /><br/>
            <label for="keywords">Keywords:</label><input type="text" id="keywords" name="keywords" value="{{.Keywords}}" /><br/>
            <label for="collection">Collection:</label><input type="text" id="collection" name="collection" value="{{.CollectionName}}" /><br/>
            <label for="submitter">Submitter:</label><input type="text" id="submitter" name="submitter" value="{{.Submitter}}" /><br/>
            <input type="checkbox" id="nsfw" name="nsfw"{{if not .IsClean}} checked="checked"{{end}} /><label for="nsfw">NSFW</label><br/>
            <br/>
            <span style="width: 6em">&nbsp;</span>
            <input type="submit" value="Update" />&nbsp;
            <input type="reset" value="Reset" />&nbsp;&nbsp;&nbsp;
            <input type="submit" name="delete" value="Delete" style="border: 3px red solid;" />
        </form><br/>
    </div>
{{end}}
    <div id="container" data-id="{{.ID}}">
{{if (eq .Kind "youtube")}}
        <iframe id="imain" onload="loaded(this)" style="display:none" width="560" height="315" src="{{.ImageURL}}?autoplay=1&rel=0&showinfo=0&iv_load_policy=3&controls={{with (index $.Query "controls")}}{{.}}{{else}}0{{end}}{{with (index $.Query "t")}}&start={{.}}{{end}}" frameborder="0" allowfullscreen></iframe>
{{else if (eq .Kind "imgur-gifv")}}
        <video id="imain" poster="{{.ThumbURL}}" preload="auto" autoplay="autoplay" muted="muted" loop="loop" webkit-playsinline>
        </video>
        <script>
            var vid = document.getElementById("imain"),
                playFmt = "gif";

            vid.addEventListener('loadedmetadata', function(e) {
                //console.log(vid.videoWidth, vid.videoHeight);
                loaded(this);
            });

            if (window.location.search.indexOf("fmt=gif") >= 0) {
                // Force what the user wants:
                playFmt = "gif";
            } else if (window.location.search.indexOf("fmt=webm") >= 0) {
                // Force what the user wants:
                playFmt = "webm";
            } else if (window.location.search.indexOf("fmt=mp4") >= 0) {
                // Force what the user wants:
                playFmt = "mp4";
            } else if (!!vid.canPlayType) {
                // Detect what the browser can display:
                if (vid.canPlayType("video/webm")) {
                    playFmt = "webm";
                } else if (vid.canPlayType("video/mp4")) {
                    playFmt = "mp4";
                }
            }

            if (playFmt != "gif") {
                // Browser can play webm or mp4:
                var src = document.createElement("source");
                src.setAttribute("src",  "{{.ImageURL}}." + playFmt);
                src.setAttribute("type", "video/" + playFmt);
                vid.appendChild(src);
                vid.addEventListener('click', function() {
                    if (vid.paused)
                        vid.play();
                    else
                        vid.pause();
                },false);
            } else {
                // Browser cannot play webm or mp4; replace the video tag with an img GIF tag instead.
                var imggif = document.createElement("img");
                imggif.setAttribute("src", "{{.ImageURL}}.gif");
                vid.parentNode.replaceChild(imggif, vid);
            }
        </script>
{{else}}
        <img id="imain" onload="loaded(this)" style="display: none" src="{{.ImageURL}}" alt="{{.Title}}" title="{{.Title}}" />
{{end}}
{{if not (eq .Kind "imgur-gifv")}}
        <img id="loader" alt="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAAAAAAAF/wABPAADvAAF/wADnAACfAACbCH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
{{end}}
    </div>
<script>
{{if (eq .Kind "youtube")}}
var iw = 560, ih = 315;
{{else}}
var iw = 1, ih = 1;
{{end}}
var nw = 1, nh = 1;
var is_loaded = false;

function loaded(img) {
    is_loaded = true;
{{if (eq .Kind "imgur-gifv")}}
    iw = img.videoWidth;
    ih = img.videoHeight;
{{else if not (eq .Kind "youtube")}}
    // Grab these values on load of img because they may change later on:
    iw = img.width;
    ih = img.height;
{{end}}
    set_new_size(img);

    // Hide the loader GIF and show the main image:
    var loader = document.getElementById("loader");
    if (loader != void(0)) {
        loader.style.display = "none";
    }
}

function resize() {
    if (!is_loaded) return;
    var imain = document.getElementById("imain")
    if ((imain === undefined) || (imain === null)) return;
    set_new_size(imain);
}

function set_new_size(img) {
    calc_new_size(img);
{{if (eq .Kind "youtube")}}
    img.style.display = "block";
    img.width = "" + nw;
    img.height = "" + nh;
{{else if (eq .Kind "imgur-gifv")}}
    img.width = nw;
    img.height = nh;
{{else}}
    img.style.display = "inline";
    img.style.width = "" + nw + "px";
    img.style.height = "" + nh + "px";
{{end}}
}

function calc_new_size(img) {
    // Determine the scaling factor to fill the screen:
    var scale = 1;
    var sw = Math.max(1, window.innerWidth - 8), sh = Math.max(1, window.innerHeight - 8);

    if ({{if not $.FillScreen}}(window.devicePixelRatio >= 2) || ((iw > sw) || (ih > sh)){{else}}true{{end}}) {
        var wscale = sw / iw;
        var hscale = sh / ih;
        if (wscale < hscale)
            scale = wscale;
        else
            scale = hscale;
    }

    // Set new dimensions:
    nw = (iw * scale);
    nh = (ih * scale);
}
</script>
</body>
</html>
{{end}}{{end}}